extends layout
block content
    h1 Upload File
        form(method="POST", action="/doUpload", enctype="multipart/form-data")
            input(type='file', name='uploadFile', id='fileUploader')
            input.button2(type='submit', value='Upload', id='fileUploadButton')