//extends layout
//block content
//    h1 Aukeratu fitxategi bat eta eman igo! botoiari
//        form(method="POST", action="/doUpload", enctype="multipart/form-data")
//            input(type='file', name='uploadFile', id='fileUploader', multiple="multiple")
//            input.button2(type='submit', value='Igo!', id='fileUploadButton')

//
// Inspired on https://github.com/nervgh/angular-file-upload
//


doctype html
html#ng-app(ng-app='app')
//
   id="ng-app" IE<8
head
    title Simple example
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    //
       Fix for old browsers
    script(src='../bower_components/es5-shim/es5-shim.js')
    script(src='/javascripts/es5-shim.min.js')
    script(src='/javascripts/jquery-1.8.3.min.js')
    //link(rel='javascript', href='/javascripts/es5-shimbootstrap.min.js')
    //
      <script src="../bower_components/angular/angular.js"></script>
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/angular-file-upload.min.js')
    script(src='/javascripts/controllers.js')
    style
        .my-drop-zone { border: dotted 3px lightgray; }
        .ng-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
        .another-file-over-class { border: dotted 3px green; }
        html, body { height: 100%; }
//
   1. ng-file-drop | ng-file-drop="options"
body(ng-controller='TestController', ng-file-drop='ng-file-drop')
    .container
        .navbar.navbar-default
            .navbar-header
                a.navbar-brand(href='https://github.com/nervgh/angular-file-upload') Angular File Upload
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li.active.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                            | Demos
                            b.caret
                        ul.dropdown-menu
                            li.active
                                a(href='#') Simple example
                            li
                                a(href='../image-preview') Uploads only images (with canvas preview)
                            li
                                a(href='../without-bootstrap') Without bootstrap example
                    li
                        a(href='https://github.com/nervgh/angular-file-upload') View on Github
                    li
                        a(href='https://raw.github.com/nervgh/angular-file-upload/master/angular-file-upload.min.js') Download
        .row
            .col-md-3
                h3 Select files
                div(ng-show='uploader.isHTML5')
                    //
                       3. ng-file-over | ng-file-over="className"
                    .well.my-drop-zone(ng-file-over='ng-file-over')
                        | Base drop zone
                    //
                       Example: ng-file-drop | ng-file-drop="options"
                    .well.my-drop-zone(ng-file-drop='{ url: \'/foo\' }', ng-file-over='another-file-over-class')
                        | Another drop zone with its own settings
                //
                   2. ng-file-select | ng-file-select="options"
                | Multiple
                input(ng-file-select='ng-file-select', type='file', multiple='multiple')
                br
                | Single
                input(ng-file-select='ng-file-select', type='file')
            .col-md-9(style='margin-bottom: 40px;')
                h3 Upload queue
                p Queue length: {{ uploader.queue.length }}
                table.table
                    thead
                        tr
                            th(width='50%') Name
                            th(ng-show='uploader.isHTML5') Size
                            th(ng-show='uploader.isHTML5') Progress
                            th Status
                            th Actions
                        tr(ng-repeat='item in uploader.queue')
                            td
                                strong {{ item.file.name }}
                            td(ng-show='uploader.isHTML5', nowrap='nowrap') {{ item.file.size/1024/1024|number:2 }} MB
                            td(ng-show='uploader.isHTML5')
                                .progress(style='margin-bottom: 0;')
                                    .progress-bar(role='progressbar', ng-style='{ \'width\': item.progress + \'%\' }')
                            td.text-center
                                span(ng-show='item.isSuccess')
                                    i.glyphicon.glyphicon-ok
                                span(ng-show='item.isCancel')
                                    i.glyphicon.glyphicon-ban-circle
                                span(ng-show='item.isError')
                                    i.glyphicon.glyphicon-remove
                            td(nowrap='nowrap')
                                button.btn.btn-success.btn-xs(type='button', ng-click='item.upload()', ng-disabled='item.isReady || item.isUploading || item.isSuccess')
                                    span.glyphicon.glyphicon-upload
                                    | Upload
                                button.btn.btn-warning.btn-xs(type='button', ng-click='item.cancel()', ng-disabled='!item.isUploading')
                                    span.glyphicon.glyphicon-ban-circle
                                    | Cancel
                                button.btn.btn-danger.btn-xs(type='button', ng-click='item.remove()')
                                    span.glyphicon.glyphicon-trash
                                    | Remove
                div
                    p
                        | Queue progress:
                        .progress(style='')
                            .progress-bar(role='progressbar', ng-style='{ \'width\': uploader.progress + \'%\' }')
                    button.btn.btn-success.btn-s(type='button', ng-click='uploader.uploadAll()', ng-disabled='!uploader.getNotUploadedItems().length')
                        span.glyphicon.glyphicon-upload
                        | Upload all
                    button.btn.btn-warning.btn-s(type='button', ng-click='uploader.cancelAll()', ng-disabled='!uploader.isUploading')
                        span.glyphicon.glyphicon-ban-circle
                        | Cancel all
                    button.btn.btn-danger.btn-s(type='button', ng-click='uploader.clearQueue()', ng-disabled='!uploader.queue.length')
                        span.glyphicon.glyphicon-trash
                        | Remove all
