doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='javascript', href='/javascripts/jquery-2.1.0.min.js')
    link(rel='javascript', href='/javascripts/jquery-migrate-1.2.1.min.js')
    link(rel='javascript', href='/javascripts/igogailua.js')
  body
    block content